<section style="padding: 60px 0 0 0;">
  <div class="container" style="padding: 0;">
    <div id="curator-feed-default-feed-layout"><a style="transform: translateX(-500px) !important; color: green !important;" href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
    <script type="text/javascript">
    (function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/1131e9d7-6a45-4ded-8b82-a8071583b480.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>
    <style>
      .crt-load-more-container {
        margin-bottom: 32px;
        text-align: center;
      }
    </style>
  </div>
</section>