<%- include('partials/store-head.ejs') %>
<%- include('./partials/breadcrumb.ejs', { pages: [{ label: 'Página no encontrada' }] }) %> 
  <h1>No encontramos la página que estas buscando.</h1>
  <p>Es posible que haya cambiado de sitio o se haya eliminado.</p>
<%- include('partials/store-tail.ejs') %>