#coupon-page {
  .coupon-editor-grid {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .first-col {
    grid-column-start: 1;
  }
  
  .span-2-col {
    grid-column-end: span 2;
  }

  h2 {
    padding-top: 24px;
  }

  .extra-detail {
    font-size: smaller;
    margin-top: 8px;
    color: darkgray;
  }

  .extra-detail a {
    text-decoration: underline;
  }

  @media screen and (max-width: 992px) {
    .coupon-editor-grid {
      grid-template-columns: 1fr;
      grid-gap: 16px;
    }

    .first-col {
      grid-column-start: unset;
    }
    
    .span-2-col {
      grid-column-end: unset;
    }
  }
}