.admin-bar-snippet {
  display: block;
  background-color: black;
  color: white;
  overflow-y: auto;
  
  a.admin-button {
    display: inline-flex;
    align-items: center;
    color: gray;
    padding: 12px 16px;
    transition: background-color 0.3s;
    flex-shrink: 0;
  }

  a.admin-button i {
    margin-right: 8px;
  }

  a.admin-button:hover, a.admin-button:active {
    color: white;
    background-color:blue;
  }
}