.products-item-snippet {
  margin-bottom: 16px;
  overflow: hidden;

  .front-product-image {
    display: flex;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-image: url('../assets/no-image.svg');
    width: 100%;
    padding-bottom: calc(100% / 1);
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    
    .back-product-image {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: scale(1.07);
      transition: all 0.4s;
      background-color: white;
    }
    
    &:hover .back-product-image  {
      opacity: 1;  
      transform: scale(1.005);
    }

    .out-of-stock {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      border-radius: 4px;
      background-color: white;
      opacity: 0.85;
      padding: 8px;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 0.9px 2.2px rgb(0 0 0 / 2%), 0 2.2px 5.3px rgb(0 0 0 / 3%), 0 4.1px 10px rgb(0 0 0 / 4%), 0 7.4px 10px rgb(0 0 0 / 4%), 0 10px 10px rgb(0 0 0 / 5%), 0 10px 10px rgb(0 0 0 / 7%);
    }

    .product-discount {
      position: absolute;
      text-align: center;
      line-height: 1;
      color: white !important;
      background-color: $primary;
      border-bottom-left-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px 8px 16px;
      top: 0;
      right: 0;
    
    }
  }
  
  .product-title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px 0px 0 0px;
    color: initial;
  }
  
  .product-price {
    color: black;
    font-weight: normal;
  }
}
