
.store-theme {
  @import '../styles/base.scss';
  @import '../styles/shared.scss';

  @import './search-cart-bar.store.theme.scss';
  @import './nav.store.theme.scss';
  @import './footer.store.theme.scss';
  
  * { outline: none; }
  
  font-family: 'Karla', sans-serif;
  line-height: 1.5;

  .top-banner {
    text-align: center;
    padding: 12px;
    color: white;
    background-color: $primary;

    a {
      color: white;
      font-weight: normal;
      border-bottom: 1px solid white;
    }
   }

  .live-chat {
    right: $mg-lg;
    bottom: $mg-lg;
    position: fixed;
    background-color: #06d755;
    color: white !important;
    font-size: 36px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.5s;

    i {
      transform: translateY(2px);
    }

    @include on-tablet {
      right: $mg-md;
      bottom: $mg-md;
    }

    @include on-mobile {
      font-size: 34px;
      width: 52px;
      height: 52px;

      right: $mg-sm;
      bottom: $mg-sm;
    }
  }
  
  // Pages
  @import '../pages/home.page.scss';
  @import '../pages/blog-post.page.scss';
  @import '../pages/blog.page.scss';
  @import '../pages/cart.page.scss';
  @import '../pages/category.page.scss';
  @import '../pages/checkout.page.scss';
  @import '../pages/order.page.scss';
  @import '../pages/page.page.scss';
  @import '../pages/product.page.scss';
  
  // Sections
  @import '../sections/header.section.scss';
  @import '../sections/featured-categories.section.scss';
  @import '../sections/category.section.scss';
  @import '../sections/instagram.section.scss';
  @import '../sections/reviews.section.scss';
  @import '../sections/shipping.section.scss';
  @import '../sections/subscription.section.scss';
  
  // Snippets
  @import '../snippets/reviews-tab.snippet.scss';
  @import '../snippets/admin-bar.snippet.scss';
  @import '../snippets/breadcrumn.snippet.scss';
  @import '../snippets/button.snippet.scss';
  @import '../snippets/collapsable.snippet.scss';
  @import '../snippets/fetching.snippet.scss';
  @import '../snippets/input.snippet.scss';
  @import '../snippets/product-item.snippet.scss';
  @import '../snippets/recommendations.snippet.scss';
  @import '../snippets/start.snippet.scss';
}
