input[type="checkbox"] {
  margin-right: 10px;
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;

  &.bg-primary {
    background-color: #0d6efd;
  }

  &.bg-secondary {
    background-color: #6c757d;
  }
}


.chevronLine {
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:10px;
}

.cart-line {
  fill:none;
  stroke-width:8;
  stroke-linecap:round;
  stroke-linejoin:round;
}
.menuLines{
  fill:none;
  stroke-width:8;
  stroke-linecap:round;
  stroke-linejoin:round;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover, a:active {
  text-decoration: none;
  color: $primary;
}

.main-brand {
  font-size: 35px;
  margin: 0em;
  color: $primary;
  margin-bottom: 7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Chelsea Market", cursive;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 35px;
  margin-bottom: 0.8em;
}

h1.lead {
  font-size: 80px;
  line-height: 1.1;
  margin-top: 0.5em;
  margin-bottom: 12px;
}

h2 {
  font-size: 25px;
  margin-bottom: 1em;
  margin-top: 1em;
}


h3 {
  font-size: 25px;
}

@include on-mobile {
  .main-brand { font-size: 25px; }
  h1 { font-size: 25px; }
  h1.lead { font-size: 50px; margin-bottom: 6px; }
  h2 { font-size: 20px; }
  h3 { font-size: 18px; }

}

p {
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  width: 100%;
  
  tr {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f7f7f7;
  }
  
  tfoot {
    background-color: #f7f7f7;
  }
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-container img.empty {
  max-width: 500px;
}

.empty-container p {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: x-large;
  color: #e7e8e9;
  margin-top: 35px;
  line-height: 1.2;
}

.empty-container p strong {
  font-weight: bold;
  color: #bdbec0;
  font-style: oblique;
}

.errorMessage {
  padding: 16px;
  background-color: lemonchiffon;
  border-radius: 4px;
  font-weight: bold;
}

.errorMessage:empty {
  display: none;
}

.template {
  display: none;
}

.pseudo-a {
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}

.pseudo-a:hover {
  font-weight: bold;
  cursor: pointer;
  color: $primary;
}

.topPanel {
  margin-bottom: 0px;
}

ul.without-bullets {
  list-style: none;
  padding-left: 0;
}

.quantity {
  width: unset;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.quantity button {
  background-color: transparent;
  color: $primary;
  font-weight: bold;  
  border: none; 
}

.quantity button:disabled {
  color: lightgray;
}

.stickyElement {
  position: sticky;
  top: 16px;
}

.std-grid {
    display: grid;
    grid-gap: 24px;
    align-items: center;
}

.no-margin {
  margin: 0 !important;
}

.first-column {
  grid-column: 1;
}

.page-content ul {
  padding-left: 1.5rem;
  list-style: none; /* Remove default bullets */
}

.page-content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: cornflowerblue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.compare-at {
  text-decoration: line-through;
  color: lightgray;
  font-size: initial;
  margin-left: 4px;
}

.bold {
  font-weight: bold;
}

.tip {
  background-color: #dff4df;
  border-left: 4px solid green;
  padding: 16px;
  border-radius: 4px;
  display: inline-block;
  
  &.primary {
    border-left-color: $primary;
    background-color: rgba($primary, .15);
  }
}


