      <style>
        footer {
          margin-top: 32px;
          padding: 24px 0;
          font-size: smaller;
        }
      </style>
      <footer>
        Tiendu 2021 © Todos los derechos reservados
      </footer>
    </div>
  </body>
</html>