<div class="footerMenuItem">
  <div class="input-container col-md-4">
    <label for="text">Text</label>
    <input type="text" name="footerMenuText[]" id="text" value="<%= menuItem?.text %>">
  </div>
  <div class="input-container col-md-4">
    <label for="link">Link</label>
    <input type="text" name="footerMenuLink[]" id="link" value="<%= menuItem?.link %>">
  </div>
  <div class="input-container col-md-4">
    <label for="classes">Css classes</label>
    <input type="text" name="footerMenuClasses[]" id="classes"  value="<%= menuItem?.classes %>">
  </div>
  <div class="removeMenuItem">Remove</div>
</div>